<footer class="border-t border-zinc-800 py-12 mt-24">
  <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-6">
    <a href="http://github.com/princeodein" target="_blank" rel="noopener noreferrer">
          <p class="text-zinc-500 text-sm text-center hover:text-white">
            © {new Date().getFullYear()} PrinceOdein || All rights reserved.
          </p>
    </a>

    <div class="flex gap-6 text-sm text-zinc-400">
      <a href="https://github.com/princeodein" target="_blank" class="hover:text-white">
        GitHub
      </a>
      <a href="https://x.com/princeodein" target="_blank" class="hover:text-white">
        Twitter
      </a>
      <a href="https://linkedin.com/in/odeinanyanwu" target="_blank" class="hover:text-white">
        LinkedIn
      </a>
    </div>
  </div>
</footer>
